body{
    margin: 0;
    padding: 0;
    text-align: center
}
.background-img{
    background-image: url(images/front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.name{
    word-spacing: 10px;
    color: rgb(7, 187, 247);
    letter-spacing: 5px;
}
.underline{
 text-decoration: underline;
}
.sub{
    color:  hsl(195, 100%, 79%);
}
.butterfly{
  display: flex;
flex: 1;

}
.flying{
    display: flex;
    flex: 1;
    position: absolute;
z-index: 0;
top: 32.65%;
left: 38.17%;
}
#myName{
    /* z-index: 1; */
position: absolute;
top: 35.5%;
left: 39.7%;
}
hr{
    border-style: none;
border-top-style: dotted;
border-color: lightblue;
border-width: 6px;
width: 6%;
margin: 0 auto;
padding: 0;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    
}
.card-body{
text-align: left;
}
p{
    color:rgb(81, 79, 79) ;
}
h4, h1{
    color: rgb(13, 172, 224);
}
footer{
    background-color:hsla(195, 89%, 46%, 0.527) ;
    height: 150px;
    text-align: center;

}
a{
    text-decoration: none;
    color:hsl(195, 94%, 42%) ;
}
@media only screen and (max-width: 480px) {
    .flying{
        display: flex;
        flex: 1;
        position: absolute;
    z-index: 0;
    top: 32.65%;
    left: 35.2%;
    }
}
@media  (min-width:481px ) and (max-width: 820px) {
    .flying{
        display: flex;
        flex: 1;
        position: absolute;
    z-index: 0;
    top: 33.77%;
    left: 36.7%;
    }
}
